[Desktop Entry]
Version=1.0
Type=Application
Exec=brut
Icon=help-about
StartupNotify=false
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Control Panel
Comment=Tool for system configuration
