[Desktop Entry]
Version=1.0
Type=Application
Exec=bash /usr/bin/comice-session shutdown
Icon=system-shutdown
StartupNotify=false
Terminal=false
Categories=System;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Shut Down...
Comment=Shut down your computer now
