[Desktop Entry]
Version=1.0
Type=Application
Exec=bash /usr/bin/comice-session sleep
Icon=system-hibernate
StartupNotify=false
Terminal=false
Categories=System;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Sleep
Comment=Suspend your computer now
