[Desktop Entry]
Version=1.0
Type=Application
Exec=bash /usr/bin/comice-session logout
Icon=system-log-out
StartupNotify=false
Terminal=false
Categories=System;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Log Out                        ⇧⌘Q
Comment=Quit all applications and log out now
