[Desktop Entry]
Version=1.0
Type=Application
Exec=bash /usr/bin/comice-session restart
Icon=system-restart
StartupNotify=false
Terminal=false
Categories=System;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Restart...
Comment=Restart your computer now
