[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce4-about
Icon=help-about
StartupNotify=false
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=About this computer
Comment=Information about your computer
