[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce4-settings-manager
Icon=preferences-desktop
StartupNotify=false
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=System Preferences...
Comment=Settings Manager for your computer
